.container {
  border: 1px solid #217aff;
  border-radius: 20px;
  padding: 9px 13px;
  display: inline-block;
  cursor: pointer;
  transition: 0.1s linear;

  &_selected {
    background-color: $blue;

    span {
      color: $white;
      margin-left: 3px;
    }
  }

  &__tag {
    color: $blue;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
  }
}
